.Field-input {
  display: inline-block;
  margin: 0 10px 5px 0;
  font-size: 15px;
  border: 1px solid #999;
  padding: 5px;
  color: #333;
  background: #fff;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border-radius: 3px;
  margin-left: 10px;
}