.createAccountForm {
  //background-color: white;
  background-image: url('../../assets/png/registration-bg.jpeg');
  height: calc(100vh - 130px);
  background-size: cover;
  display: flex;
  justify-content: center;
  //margin-top: -30px;
  padding-top: 50px;
}

//.createAccount {
//  height: calc(100vh - 130px);
//  background-size: cover;
//}