.blogAdd_wrapper {
  //display: flex;
  //
  //margin: 0 auto;
  //width: 1280px;
  //background-color: white;
}

//
.BlogAddPages {
  //width: 1100px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  display: flex;
  //flex-direction: column;
  background-size: cover;
}