.create_account {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  padding: 20px 20px 20px;
  background-color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 270px;
  height: min-content;
  gap: 20px;
  box-shadow: 0px 0px 22px 10px rgb(0 0 0 / 30%);

  p {
    margin: 2px;
  }

  h4 {
    width: 250px;
    font-size: 20px;
  }

  input {
    margin-bottom: 6px;
    border: 1px solid #999;
    padding: 5px;
    width: 90%;
    font-size: 15px;
    color: #333;
    background: #fff;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-radius: 3px;
  }

  button {
    position: fixed;
    color: #fff;
    background: #5577cc;
    position: relative;
    display: inline-block;
    height: 36px;
    width: 100%;
    font-size: 18px;
    gap: 10px;
    margin-top: 10px;
    border-radius: 99px;
    border: 0;
    outline: 0;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
  }
}